*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    /*linear-gradient : 그라데이션주기*/
    
}
.wrapper{
    position: absolute;
    width: 400px;
    height: 580px;
    background: #FFF;
    padding: 20px;
}

  
.wrapper header{
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 15px;
    text-align: left;
    font-family: 'Koulen', cursive;

}

/*.wrapper안에 있는 것을 부를때(태그 설정 방법은 무궁무진)*/
.wrapper .inputField{
    display: flex;  
    margin: 5px auto 20px ; 
    height: 45px;
    width: 500px;
    font-family:'Hi Melody', cursive;
}
.xi-plus{ /* +버튼 굵기지정  */
    color: #fff;

}
.inputField input{
    color: black;
    padding-left: 15px;
    width: 300px;
    height: 100%;
    border: none;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;  /*inputbox 클릭시 테두리 안보이게*/
    background-color: #efefef;
}
.inputField button{
    width: 50px;
    height: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   background-color: #e08a9e;
;
    /* background: rgb(249, 233, 143); */
    cursor: pointer;
}
.wrapper .Todolist{
    display: flex;
}
.Todolist li{
    width: 330px;
    list-style: none;
    line-height: 30px; /*수직 가운데 정렬 : 보통 height랑 같은 숫자를 쓴다*/
    position: relative;
    margin-left: 10px;
    text-indent: 15px; /*들여쓰기*/
    background-color: #FFF !important;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
}
.wrapper .footer{
    font-weight: 600;
    text-indent: 15px;
    display: flex;
    width: 100%;
    justify-content: right;/*flex때문에 써준다*/
}
.footer button{
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 10px;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
   background-color: #dd728b;
;
}
.footer button:hover{
    color : rgb(6, 6, 6);
    background-color: #b9b9b9;
}
li{
    margin-bottom: 20px !important;
}